XSSProtection
Workplace
SspWorkplace
SsoSettings
ServiceDesigner
SalesEnterprise
RelationshipDesigner
PivotTable
Opportunity
OpenIdAuth
OmnichannelMessaging
MLProcessDesigner
IntegrationV2
FolderTree
Finesse
FeatureToggling
Exchange
CSP
CrtUIv2
CrtSalesInC360
CrtOrderContractInC360
CrtOpportunityInC360
CrtNUI
CrtInvoiceInC360
CrtDesignerTools
CrtDeduplication
CrtCustomer360App
CrtCore
CrtBase
CrtAnalyticsDashboard
CoreForecast
ContentBuilder